@font-face {
  font-family: "Press Start 2P";
  src: url("./fonts/PressStart2P-Regular.ttf");
}

body {
  background-color: black;
  color: whitesmoke;
  font-family: "Press Start 2P";
  padding: 0%;
  margin: 0;
}
h1 {
  font-size: 128px;
}
h2 {
  font-size: 32px;
}
section {
  background-color: #0b0a09;
  display: grid;
  place-items: center;
  align-content: center;
  text-align: center;
  padding: 5%;
  min-height: 100vh;
  border-radius: 120px;
  margin-top: 1px;
}
.hidden {
  opacity: 0;
  filter: opacity(5%);
  transition: all 5s;
}
.show {
  opacity: 1;
  filter: opacity(100%);
  transform: translateX(0%);
}
