@font-face {
  font-family: "Poppins";
  src: url("./fonts/Poppins/Poppins-Regular.ttf");
}
@font-face {
  font-family: "Ubuntu Mono Italic";
  src: url("./fonts/Ubuntu_Mono/UbuntuMono-Italic.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.video-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
}
.video-container .background {
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  z-index: -10;
}
.header {
  display: flex;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 10px 50px;
  background-color: rgba(255, 255, 255, 0.2);
  justify-content: space-between;
  align-items: center;
  backdrop-filter: blur(10px);
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  overflow: hidden;
}
.header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.1),
    transparent
  );
  transition: 1s;
}
.header:hover::before {
  left: 100%;
}
.logo {
  text-decoration: none;
  border-radius: 10px;
  align-items: center;
  transition: 1s;
}
.logo:hover {
  background-color: white;
  box-shadow: 0 0 16px white, 0 0 32px white, 0 0 64px white;
}
.logo img {
  height: 48px;
  width: auto;
  position: relative;
  top: 2px;
  margin: 1px 4px 1px 4px;
  border-radius: 10px;
}
.navBar .navBtn {
  color: white;
  font-size: 16px;
  font-family: "Poppins";
  text-decoration: none;
  margin-left: 35px;
  transition: 1s;
  padding: 5px 8px 5px 8px;
  border-radius: 10px;
}
.navBtn:hover {
  background-color: white;
  color: black;
  box-shadow: 0 0 16px white, 0 0 24px white, 0 0 64px white;
}
.scroller {
  display: block;
  width: 960px;
  height: 480px;
  margin: 5% auto;
  /* align-items: center; */
  justify-content: center;
  flex-wrap: nowrap;
  overflow: hidden;
  border-radius: 32px;
}
.scroller .infoSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(29, 25, 24, 0.8);
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  border-right: 2px solid rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(20px);
  border-radius: 32px;
  color: white;
  padding: 32px;
}
.scroller .infoSection::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.03),
    transparent
  );
  transition: 2s;
}
.scroller .infoSection:hover::before {
  left: 200%;
}

h1 {
  display: flex;
  width: 100%;
}
#home p {
  position: block;
  align-items: center;
  justify-content: center;
}
#contact {
  display: flex;
  align-items: center;
  justify-content: center;
}
.contactContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.textblock {
  resize: none;
  padding: 15px;
  margin: 30px;
  border-radius: 6px;
  font-family: "Ubuntu Mono Italic";
}
#message {
  width: 80%;
}
#sendBtn {
  display: block;
  position: relative;
  height: 32px;
  width: 64px;
  margin-bottom: 10px;
  font-family: "Ubuntu Mono Italic";
  font-size: 16px;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  transition: 1s;
}
#sendBtn:hover {
  box-shadow: 0 0 16px white, 0 0 24px white, 0 0 64px white;
}
